:root{
  --background-color-textbox: #2B2F33;
  --color-linenumber: #eee;
  --color-border: #1C1D20;
  --color-text: #FFF;
  --color-copytext: #FFF;
  --color-title: #FFF;
  --color-details:  #FFF;
}

*{
  text-align: left;
}

#box{
  margin-left: 10%;
  margin-right: 10%;
}

#content{
  border: 1px solid var(--color-border);
  background-color: var(--background-color-textbox);
  padding-top: 15px;
  border-radius: 5px;
  line-height: 16px;
  font-size: 15px;
  padding-left: 15px;
}

#text{
  background: var(--background-color-textbox) !important;
  font-family: monospace;
  font-size: 13.5px;
  font-weight: 400;
  margin-left: 10px;
  color: var(--color-text);
}

#copy-text{
  color: var(--color-copytext);
}

#copy-text:hover{
  text-decoration: underline;
  cursor: pointer;
}


#details{
  color: var(--color-details);
}
/*COPY ALERT BOX*/
/* The alert message box */
#alert {
  padding: 20px;
  background-color: rgba(1, 87, 1);
  color: white;
  margin-bottom: 15px;
  display: none;
}
  
/* The close button */
#closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
  
/* When moving the mouse over the close button */
#closebtn:hover {
  color: black;
}

.hljs-string{
  color: green;
}
.hljs-keyword{
  color: blue;
}

.hljs-params{
  color: darkgoldenrod;
}

.title{
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-title);
}