<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--link rel="icon" href="../static/images/logo.png" type="image/x-icon">-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/404.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}">
    <title>PasteBum - 404</title>
</head>
<body>
       <div align="center">
        <h1>We couldn't find the page.</h1>
        <a href="/">Return to homepage.</a>   
       </div>
</body>
</html>