<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/contributors.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}">
    <!--link rel="icon" href="../static/images/logo.png" type="image/x-icon">-->
    <title>PasteBum - Contributors</title>

    <div class="container" style="margin-top: 20px;">
    <div align="center"><h1>Contributors</h1></div>
    <p align="center">Thanks to all contributors</p>
    <table id="table" align="center">
        <thead>
          <tr>
            <th scope="col"><u>Name</u></th>
            <th scope="col"><u>Role</u></th>
            <th scope="col"><u>Discord</u></th>
            <th scope="col"><u>Github</u></th>
          </tr>
        </thead>
        <tbody>
          <tr align="center">
            <th scope="row">pozitronx</th>
            <td>Logo Designer</td>
            <td><a href="https://discord.com/users/376349477352505344" target="_blank">pozitronx#0603</a></td>
            <td><a href="https://github.com/ibrahimcetin" target="_blank">ibrahimcetin</a></td>
          </tr>
          <tr align="center">
            <th scope="row">MegaCrafter</th>
            <td>Frontend</td>
            <td><a href="https://discord.com/users/291168238140653578" target="_blank">MegaCrafter#7368</a></td>
            <td><a href="https://github.com/MegaCrafter" target="_blank">MegaCrafter</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>