<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/informative_text.css')}}">
    <!--link rel="icon" href="../static/images/logo.png" type="image/x-icon">-->
    <title>PasteBum</title>
</head>
<body>
    <div id="content">
        <h1>Informative Text</h1>
        <p>
            This website is a platform for text sharing and it is open to everyone. The permanence of the data shared is not guaranteed and could be deleted at any time. The legal responsibility of any illegal data shared on the website is not the website's responsibility. Also, anything shared is open to anyone and everyone can see it. If there is any content that you think is problematic you can reach us at <a href="mailto:kyshi58@outlook.com">kyshi58@outlook.com</a> and send us the URL
        </p>
    </div>

</body>
</html>