<html>
  <head>
    <meta charset="UTF-8">
    <!--link rel="icon" href="../static/images/logo.png" type="image/x-icon">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/note.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}">
    <script src="{{url_for('static', filename='js/copy.js')}}"></script>
    <title>Note - {{title}}</title>
  </head>
  <body>
      <div id="alert">
        <span id="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        <img src="{{url_for('static', filename='images/successfully.png')}}" width="25"><b>Successfully!</b>&ensp;Content copied successfully.
      </div>
      <div style="margin-top: 30px" id="box">
      <h1 class="title">{{title}}</h1>
      <br/>
      <details id="details">
        <summary>Details</summary>
        <b>Syntax:</b> {{syntax}}<br>
        <b>Creation Date:</b> {{date}}<br>
        <b>Data Size (byte):</b> {{data_size}}
      </details>
      <br/>
      <div id="content">
        <table style="float: left;">
            <table>
                <tr>
                  <th><pre style="overflow: hidden;">
<!--             --><div style="color: #ADADAD; text-align: right">{{line}}</div>
<!--             --><th><pre>
<!--             --><code class="{{syntax}}" id="text">{{content}}</code>
<!--             --></pre></th></pre></th>
                </tr> 
            </table>
          </table>
          <p id="copy-text" onClick="copyElementText('text', 'alert')" >Copy Text</p>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
  </body>
</html>