<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css"
    />

    <link rel="stylesheet" href="{{url_for('static', filename='css/note.css')}}">
    <script src="{{url_for('static', filename='js/copy.js')}}"></script>
    <meta charset="UTF-8" />
    <title>Note - {{title}}</title>
  </head>
  <body>
      <div id="alert">
        <span id="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        <img src="{{url_for('static', filename='images/successfully.png')}}" width="25"><b>Successfully!</b>&ensp;Content copied successfully.
      </div>
      <div style="margin-top: 30px" class="container">
      <h1>{{title}}</h1>
      <br/>
      <div class="container" id="content">
        <table style="float: left;">
            <table>
                <tr>
                  <th><pre style="width: 20px; overflow: hidden;">
<!--             --><div style="color: #ADADAD;">{{line}}</div>
<!--             --><th><pre>
<!--             --><code class="{{syntax}}" id="text">{{content}}</code>
<!--             --></pre></th></pre></th>
                </tr> 
            </table>
          </table>
          <p id="copy" onClick="copyElementText('text', 'alert')">Copy Text</p>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>