<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--link rel="icon" href="../static/images/logo.png" type="image/x-icon">-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/theme.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}">
    <title>PasteBum</title>
</head>
    <div class="main">
        <h1>PasteBum</h1>
        <hr>  
        <b>Pastebum is a text/code share service.</b><br><br>    
        <code>
            <b>~Project</b><br>
            Author: Kyshi (<a href="https://kyshi.github.io" target="_blank">https://kyshi.github.io</a>)<br>
            License: MIT<br>
            Version: 0.7<br>
            Status: alpha<br>
            Github: <a href="https://github.com/kyshi/PasteBum" target="_blank">https://github.com/kyshi/PasteBum</a><br><br>

            <b>~Features (version 0.7 | alpha)</b><br>
            Big frontend update.<br>
        </code>
    </div>
<body>
</body>
</html>