<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--link rel="icon" href="../static/images/logo.png" type="image/x-icon">-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/theme.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}">
    <title>PasteBum</title>
</head>
    <div class="main">
        <h1>PasteBum</h1>
        <hr>  
        <b>Pastebum is a text/code share service.</b><br><br>    
        <code>
            <b>~Project</b><br>
            Author: Kyshi (<a href="https://kyshi.github.io" target="_blank">https://kyshi.github.io</a>)<br>
            License: MIT<br>
            Version: 0.8<br>
            Status: alpha<br>
            Github: <a href="https://github.com/kyshi/PasteBum" target="_blank">https://github.com/kyshi/PasteBum</a><br><br>

            <b>~Features (version 0.8 | alpha)</b><br>
            Updated API system.<br>
            Renewed <a href="/api/documentation">API Documentation</a>.<br>
            Line shift issue resolved.<br>
            Added rate limit.<br>
            Title can't empty.<br>
            Content can't empty. (so... partly.)<br>
            A slight change in <a href="/informative_text">Informative Text</a>.<br>
            Small adjustments.<br>
        </code>
    </div>
<body>
</body>
</html>